configuration {
	terminal:  "alacritty";
	kb-remove-to-eol:  "";
	kb-accept-entry:  "Control+m,Return,KP_Enter";
	kb-row-up:  "Up,Control+k,ISO_Left_Tab";
	kb-row-down:  "Down,Control+j";
	matching:  "fuzzy";

	font: "Play 12";
	show-icons: true;
	icon-theme: "Papirus";
	display-drun: "";
	drun-display-format: "{name}";
	disable-history: false;
	fullscreen: false;
	hide-scrollbar:  true;
	sidebar-mode:  false;
	theme:  "dracula";
}

